<div class="container">

    <div class="ui middle aligned  two column grid">
        <h1>Register Now</h1>

        <div class="column">
            <div class="ui fluid form segment">
                <h3 class="ui header">Log-in</h3>
                <div class="field">
                    <label>Username</label>
                    <input placeholder="Username" type="text">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password">
                </div>
                <div class="ui blue submit button">Login</div>
            </div>
        </div>
</div>